footer {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

footer section {
    margin: 20px;
    border: 3px solid white;
    width: 90%;
    display: flex;
}

#newsletter {
    color: white;
    width: 50%;
    border-right: 3px solid white;
    padding: 10px 20px 10px 10px;
}

#mensagem-inscricao {
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

#newsletter #email-form {
    display: flex;
    margin-bottom: 40px;
}

#newsletter input {
    font-size: 20px;
    padding: 8px 0 8px 5px;
    width: 360px;
}

#newsletter button {
    padding: 10px 22px;
    border: none;
    background-color: lime;
    color: white;
    font-size: 14px;
    width: 180px;
    cursor: pointer;
    transition: border, color, background .5s;
}

#newsletter button:hover {
    border: 1px solid lime;
    color: black;
    background-color: white;
}

#newsletter #titulo-portfolio {
    font-weight: bold;
    margin-bottom: 10px;
}

#newsletter ul {
    display: flex;
    justify-content: space-around;
}

#newsletter ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#newsletter ul a img {
    width: 90px;
    height: 80px;
}

#newsletter ul a p {
    color: white;
    font-size: 12px;
}

#info {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#info div {
    display: flex;
    justify-content: space-around;
}

#info .menu, .sobre {
    display: flex;
    flex-direction: column;
}

#info .sobre {
    justify-content: normal;
}

#info div p {
    margin-bottom: 20px;
}

#info div ul li {
    list-style: none;
    line-height: 25px;
}

#info div ul li a {
    color: white;
    transition: border .1s;
}

#info div ul li a:hover {
    border-bottom: 2px solid white;
}

#info #footer-img img {
    padding-bottom: 30px;
    animation: rotacao 10s infinite;
}


#logo, .info-mobile {
    display: none;
}

@keyframes rotacao {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@media (max-width: 500px) {
    footer section {
        flex-direction: column;
    }

    #info {
        display: none;
    }

    #logo {
        display: flex;
    }

    #newsletter {
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 10px;
    }

    #newsletter p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        width: 80%;
    }

    #newsletter #email-form {
        display: flex;
        margin-bottom: 0;
        justify-content: center;
    }

    #newsletter input {
        font-size: 20px;
        padding: 6px 0 6px 5px;
        width: 50%;
        border: none;
    }

    #newsletter button {
        padding: 5px 22px;
        font-size: 12px;
        width: 40%;
    }

    #newsletter ul {
        width: 250px;
        flex-wrap: wrap;
    }

    #newsletter ul a img {
        width: 100px;
    }

    #newsletter ul a:nth-child(3),
    #newsletter ul a:nth-child(4) {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #newsletter ul a p {
        margin: 0;
        line-height: normal;
    }

    .info-mobile {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid white;
        padding: 5px;
        font-weight: bold;
    }

    .info-mobile p:last-child {
        font-size: 18px;
    }
}