
.conteudo {
    padding: 20px 60px;
    display: flex;
}

.conteudo #imagem-01 {
    margin-right: 20px;
}

.conteudo img {
    height: fit-content;
}

.conteudo div p {
    line-height: 32px;
    color: rgba(23, 33, 41, 255);
}

.conteudo div button {
    margin-top: 20px;
    padding: 14px;
    border: none;
    background-color: rgba(88, 115, 145, 255);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: border, color, background .3s;
}

#leia-mais {
    display: none;
}

.conteudo div button:hover {
    border: 1px solid rgba(32, 99, 151, 0.8);
    color: black;
    background-color: white;
}

.conteudo #imagem-02 {
    margin-left: 20px;
}


@media (max-width: 650px) {
    .conteudo {
        padding: 0;
        display: block;
    }

    .conteudo img {
        width: 100%;
    }

    .conteudo #imagem-01 {
        margin-right: 0;
    }

    .conteudo #imagem-02 {
        margin-left: 0;
    }

    .conteudo div {
        padding: 0 10px;
    }

    .conteudo:nth-child(3) {
        display: none;
    }

    .conteudo div button{
        display: none;
    }

    #leia-mais{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }

    #leia-mais p:last-child {
        padding-bottom: 10px;
        font-size: 36px;
    }

    .show-content {
        display: flex !important;
        flex-direction: column;
    }
}